body {
  margin: 0;
  padding: 0;
  background-color: #676;
  font-family: 'Old Standard TT', serif;
}

header {
  text-align: center;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  color: #DED;
}

img {
  width: 140px;
  height: 140px;
}

.content {
  text-align: center;
}

.created-entry {
  display: inline-block;
  background-color: #DED;
  margin: 4px;
  padding: 0px;
  width: 33%;
  border-radius: 3px;
}

.title-container{
  height: 20px;
}

.title {
  font-weight: 900;
}

.author {
  margin-top: 30px;
  font-style: italic;
}

.date {
  letter-spacing: -.1em;
  font-size: .8em;
}
